Repository hieuphan07/Zero-Template: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be-lint-check, fe-lint-check, be-test, fe-test

be-lint-check:
  stage: lint
  before_script:
  - echo "This is a before script that runs before job."
  - cd $BE_WORKDIR
  - npm install --legacy-peer-deps
  script:
  - echo "Running ESLint..."
  - npm run lint:check
  - echo "ESLint check completed successfully"
  - echo "Running code formatting check..."
  - npm run format:check
  ...

fe-lint-check:
  stage: lint
  before_script:
  - echo "This is a before script that runs before job."
  - cd $FE_WORKDIR
  - npm install --legacy-peer-deps
  script:
  - echo "Running ESLint..."
  - npm run lint:check
  - echo "ESLint check completed successfully"
  - echo "Running build process..."
  - npm run build
  ...

be-test:
  stage: testing
  script:
  - echo "Running unit test..."
  - echo "Unit test completed successfully"
  tags:
  - zero-runner

fe-test:
  stage: testing
  script:
  - echo "Running unit test..."
  - echo "Unit test completed successfully"
  tags:
  - zero-runner

feat: update .env
  back-end/.env.example
Due: none

fix: env catching fail for docker build
  back-end/.env.example
  back-end/be.gitlab-ci.yml
  back-end/scripts/prepare-env.sh
  back-end/scripts/startup.dev.sh
  back-end/src/main.ts
  back-end/src/shared/infrastructure/database/migrations/1736833348536-RefreshToken.ts
  front-end/fe.gitlab-ci.yml
Due: be-lint-check, be-test

feat: update foundation FE
  back-end/src/shared/infrastructure/database/migrations/1736393427769-InitTable.ts
  back-end/src/shared/infrastructure/database/migrations/1736834972552-InitUserTable.ts
  front-end/public/locales/en/common.json
  front-end/public/locales/vi/common.json
  front-end/src/app/admin/page.tsx
  front-end/src/app/auth/components/LoginForm.tsx
  front-end/src/app/auth/components/RegisterForm.tsx
  front-end/src/app/auth/page.tsx
  front-end/src/app/auth/services/auth-services.tsx
  front-end/src/app/page.tsx
  front-end/src/shared/components/Atoms/Button/ButtonWithDropDown.tsx
  front-end/src/shared/components/Atoms/Dropdown/Dropdown.tsx
  front-end/src/shared/components/Molecules/Form/Form.tsx
  front-end/src/shared/components/Molecules/List/List.tsx
  front-end/src/shared/components/Molecules/SearchBar/SearchBar.tsx
  front-end/src/shared/components/Organisms/Header/Header.tsx
  front-end/src/shared/components/Organisms/Header/UnAuthHeader.tsx
  front-end/src/shared/components/Organisms/SectionWrapper/SectionWrapper.tsx
  front-end/src/shared/constants/application-path.ts
  front-end/src/shared/types/components-type/drop-down-type.ts
  front-end/src/shared/types/components-type/searchbar-type.ts
  front-end/src/shared/utils/functions/api/index.ts
  front-end/src/shared/utils/functions/api/interceptor.ts
Due: be-lint-check, fe-lint-check, be-test, fe-test

fix: Migration
  back-end/be.gitlab-ci.yml
  back-end/src/shared/infrastructure/database/migrations/1736834972552-InitUserTable.ts
Due: be-lint-check, be-test

feat: Remember Me FE
  back-end/src/modules/auth/application/use-cases/login.use-case.ts
  back-end/src/modules/auth/presentation/controllers/auth.controller.ts
  front-end/src/app/auth/components/LoginForm.tsx
  front-end/src/app/auth/services/auth-services.tsx
  front-end/src/app/auth/types/auth-type.ts
  front-end/src/shared/utils/functions/middleware/auth-provider.ts
Due: be-lint-check, fe-lint-check, be-test, fe-test

feat: notification update
  front-end/public/locales/en/common.json
  front-end/public/locales/vi/common.json
  front-end/src/app/auth/components/LoginForm.tsx
  front-end/src/app/globals.css
  front-end/src/app/layout.tsx
  front-end/src/shared/components/Atoms/Dropdown/Dropdown.tsx
  front-end/src/shared/components/Atoms/Input/Input.tsx
  front-end/src/shared/components/Atoms/Notification/Notification.tsx
  front-end/src/shared/components/MainLayout/MainLayout.tsx
  front-end/src/shared/components/MainLayout/UnAuthLayout.tsx
  front-end/src/shared/components/Molecules/List/List.tsx
  front-end/src/shared/components/Organisms/Header/Header.tsx
  front-end/src/shared/hooks/useNotification.tsx
  front-end/src/shared/types/common-type/shared-types.ts
  front-end/src/shared/types/components-type/notification-type.ts
  front-end/src/shared/utils/functions/middleware/auth-provider.ts
Due: fe-lint-check, fe-test

feat: enhance user management with search and filter capabilities
  back-end/src/modules/user-management/application/use-cases/get-users.usecase.ts
  back-end/src/modules/user-management/domain/repositories/user-repository.interface.ts
  back-end/src/modules/user-management/infrastructure/repositories/user.repository.ts
  back-end/src/modules/user-management/presentation/controllers/user.controller.ts
  back-end/src/shared/dtos/search-dto.ts
  back-end/src/shared/infrastructure/repositories/abstract.repository.ts
  back-end/src/shared/types/search-options.ts
  back-end/test/unit/user-management/application/use-cases/get-users.usecase.spec.ts
  back-end/test/unit/user-management/infrastructure/repositories/user.repository.spec.ts
  back-end/test/unit/user-management/presentation/controllers/user.controller.spec.ts
  front-end/public/locales/en/common.json
  front-end/public/locales/en/user-management.json
  front-end/public/locales/vi/common.json
  front-end/public/locales/vi/user-management.json
  front-end/src/app/admin/user/types/user-type.ts
  front-end/src/shared/components/Atoms/Checkbox/Checkbox.tsx
  front-end/src/shared/components/Molecules/List/List.tsx
  front-end/src/shared/types/common-type/pagination-params-type.ts
Due: be-lint-check, fe-lint-check, be-test, fe-test

fix: update format Backend
  back-end/src/shared/infrastructure/config/app-config.type.ts
  back-end/src/shared/infrastructure/config/app.config.ts
  back-end/src/shared/infrastructure/config/config.type.ts
  back-end/src/shared/utils/validations/validate-config.ts
Due: be-lint-check, be-test

refactor: improve LoginForm component by utilizing useRef for form handling and removing state for username and password
  back-end/.env.example
  back-end/src/modules/auth/application/use-cases/login.use-case.ts
  front-end/src/app/auth/components/LoginForm.tsx
Due: be-lint-check, fe-lint-check, be-test, fe-test

feat: user management detail page
  front-end/public/locales/en/common.json
  front-end/public/locales/en/user-management.json
  front-end/public/locales/vi/common.json
  front-end/public/locales/vi/user-management.json
  front-end/src/app/admin/user/[id]/page.tsx
  front-end/src/app/admin/user/[id]/types/userDetail-type.ts
  front-end/src/app/admin/user/services/user-service.tsx
  front-end/src/app/admin/user/types/user-type.ts
  front-end/src/shared/components/Atoms/Button/Button.tsx
  front-end/src/shared/components/Atoms/Input/Input.tsx
  front-end/src/shared/components/Organisms/DetailPage/DetailPage.tsx
  front-end/src/shared/constants/type-transfer.ts
  front-end/src/shared/types/common-type/shared-types.ts
  front-end/src/shared/types/components-type/button-type.ts
  front-end/src/shared/types/components-type/detail-page-type.ts
  front-end/src/shared/types/components-type/input-type.ts
Due: fe-lint-check, fe-test

feat: update List, convert all update and delete form into 1 form, update delete user form
  front-end/public/locales/en/user-management.json
  front-end/public/locales/vi/user-management.json
  front-end/src/app/admin/page.tsx
  front-end/src/app/admin/user/components/DeleteUserForm.tsx
  front-end/src/app/admin/user/page.tsx
  front-end/src/app/globals.css
  front-end/src/app/page.tsx
  front-end/src/shared/components/Molecules/Form/Form.tsx
  front-end/src/shared/components/Molecules/List/List.tsx
  front-end/src/shared/types/components-type/form-type.ts
  front-end/src/shared/types/components-type/list-type.ts
Due: fe-lint-check, fe-test

feat: enhance User entity and mapper to include createdAt and updatedAt fields
  back-end/src/modules/user-management/application/mapper/user.mapper.ts
  back-end/src/modules/user-management/domain/entities/user.entity.ts
Due: be-lint-check, be-test

update: Time Alive Access Token & Refresh Token for env
  back-end/scripts/prepare-env.sh
Due: none

feat: implement current user retrieval and enhance authentication flow
  back-end/src/modules/auth/application/use-cases/login.use-case.ts
  back-end/src/modules/auth/domain/interfaces/auth.repository.interface.ts
  back-end/src/modules/auth/infrastructure/auth/auth.repository.ts
  back-end/src/modules/auth/infrastructure/jwt.strategy.ts
  back-end/src/modules/auth/presentation/controllers/auth.controller.ts
  back-end/src/modules/auth/presentation/dtos/login.dto.ts
  back-end/src/shared/decorator/current-user.decorator.ts
  front-end/src/app/admin/user/services/user-service.tsx
  front-end/src/app/auth/services/auth-services.tsx
Due: be-lint-check, fe-lint-check, be-test, fe-test

feat: Input autoFill
  .gitlab-ci.yml
  front-end/src/app/admin/user/[id]/page.tsx
  front-end/src/app/admin/user/[id]/types/userDetail-type.ts
  front-end/src/app/auth/components/LoginForm.tsx
  front-end/src/app/auth/components/RegisterForm.tsx
  front-end/src/app/globals.css
  front-end/src/shared/components/Atoms/Input/Input.tsx
  front-end/src/shared/components/Organisms/DetailPage/DetailPage.tsx
  front-end/src/shared/types/components-type/detail-page-type.ts
  front-end/src/shared/types/components-type/input-type.ts
Due: fe-lint-check, fe-test

fix: lint stage
  .gitlab-ci.yml
Due: none

feat: Update user form
  back-end/src/modules/user-management/application/mapper/user.mapper.ts
  back-end/src/modules/user-management/presentation/controllers/user.controller.ts
  back-end/src/modules/user-management/presentation/dto/create-user.dto.ts
  back-end/src/modules/user-management/presentation/dto/user-response.dto.ts
  front-end/public/locales/en/common.json
  front-end/public/locales/en/user-management.json
  front-end/public/locales/vi/common.json
  front-end/public/locales/vi/user-management.json
  front-end/src/app/admin/page.tsx
  front-end/src/app/admin/user/[id]/types/userDetail-type.ts
  front-end/src/app/admin/user/components/CreateUserForm.tsx
  front-end/src/app/admin/user/components/UpdateUserForm.tsx
  front-end/src/app/admin/user/components/UserList.tsx
  front-end/src/app/admin/user/components/shared/TabNavigation.tsx
  front-end/src/app/admin/user/components/shared/UserForm.tsx
  front-end/src/app/admin/user/components/shared/UserInfoTab.tsx
  front-end/src/app/admin/user/constants/form-fields.ts
  front-end/src/app/admin/user/page.tsx
  front-end/src/app/admin/user/services/user-service.tsx
  front-end/src/app/admin/user/types/user-type.ts
  front-end/src/app/admin/user/utils/user-validator.ts
  front-end/src/app/globals.css
  front-end/src/app/page.tsx
  front-end/src/shared/components/Atoms/Input/Input.tsx
  front-end/src/shared/components/Molecules/List/List.tsx
  front-end/src/shared/constants/regex.ts
  front-end/src/shared/constants/type-transfer.ts
  front-end/src/shared/types/common-type/shared-types.ts
  front-end/src/shared/types/components-type/input-type.ts
  front-end/src/shared/types/components-type/list-type.ts
  front-end/src/shared/types/components-type/update-user-type.ts
  front-end/src/shared/types/components-type/user-form-type.ts
  front-end/src/shared/utils/functions/validation/common-validator.ts
Due: be-lint-check, fe-lint-check, be-test, fe-test

Path conditions:
  be-lint-check: any of: back-end/src/**/*
  fe-lint-check: any of: front-end/src/**/*
  be-test: any of: back-end/src/**/*
  fe-test: any of: front-end/src/**/*
